<div data-controller="category-form">
  <%= simple_form_for [current_user, user_category] do |f| %>
    <%= f.input :name %>
    <%= f.association :shop, collection: Shop.mine(current_user) %>
    <%= f.label :image %>
    <%= f.input_field :image, data: {"category-form-target":"input"}, class:"d-none" %>
    <div class="d-flex flex-wrap my-3">
      <% @images.each do |image|%>
        <div class="border m-1" data-action="click->category-form#check" data-category-form-target="image" id=<%="categories/#{image}"%> >
          <%= image_tag "categories/#{image}", width: "50px;", class:" p-1"%>
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
