
  <%= link_to "nouvelle categorie", new_user_user_category_path(current_user), class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
  <% if IngredientCategory.without_cat(current_user) != [] %>
    <%= link_to "Attribuer une catégorie aux ingredients", edit_ingredient_category_path(IngredientCategory.without_cat(current_user).first), class: "btn btn-primary my-3", data: { turbo_frame: "remote_modal" }%>
  <% end %>
  <%= link_to "Ajouter un magasin", new_shop_path, class: "btn btn-primary my-3", data: { turbo_frame: "remote_modal" }%>


<div class="bg-active box slider" data-controller="category-list">
  <div class="d-flex flex-row justify-content-around">
    <div class="col-sm">
      <% @categories.each do |category| %>
      <div id=<%="#{category.id}"%> class="bg-inactive d-flex flex-column justify-content-center", width= "80px;"  data-action="click->category-list#click" data-category-list-target="category">
        <%= image_tag category.image, width: "70px;", class:" p-1" %>
        <%= category.name %>
      </div>
      <% end %>
    </div>
    <div class="col-sm">
      <div class="d-flex flex-column bg-active box slider", width= "80px;">
        <% @ingredients.each do |ingredient| %>
          <div id=<%="#{ingredient.user_category.id}"%> data-category-list-target="ingredient"  class="d-flex flex-column justify-content-center d-none">
            <%= image_tag ingredient.ingredient.image, width: "70px;", class:" p-1" %>
            <%= ingredient.ingredient.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
