<div data-controller="category-form">
  <%= simple_form_for [current_user, @user_category] do |f| %>
    <%= f.input :name %>
    <%= f.association :shop %>
    <%= f.input :image, input_html: {data_category_form_target:"input" } %>
    <div class="d-flex">
      <% @images.each do |image|%>
        <div  data-category-form-target="image" id=<%=image%> >
          <%= image_tag "categories/#{image}", width: "50px;"%>
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
