<div class=" pb-6 mx-auto">
  <h1 class="text-xl font-medium text-center my-2"><%= @list.name %></h1>
</div>
<div class="bg-white rounded-xl container-list mx-2 rounded">
  <div class="mx-2 p-3 slider">
    <% elements_sorted = @list_ingredients.sort_by  { |element| element.checked ? 1 : 0 }%>
    <% elements_sorted.each do |element| %>
      <% if ( element.quantity != "0.0" && element.quantity != "0") %>
        <div id= "checklist"  data-controller="list" data-list-update-url="<%= list_list_ingredient_path(@list, element) %>">
          <input id="<%= element.id %>" type="checkbox" class="check" data-action="list#updateElement"
          data-list-target="checked"
          <% if element.checked %> checked <% end %> >
          <label id="<%= element.id%>" for="<%= element.id%>" ><%= element.quantity %>        <%= element.ingredient.name %></label>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container text-center p-1 m-2">
  <%= button_to "Effacer les éléments achetés", list_path(@list), method: :delete, class: "btn, btn-primary" %>
</div>
