<div class="recipe-banner" style="background-image: url('<%= @user_recipe.recipe.image_url %>')"></div>
<div class="container">
  <h3><%= @user_recipe.recipe.name %></h3>
  <%= link_to "Ajouter cette recette à ma liste de course", add_to_list_user_recipe_path(@user_recipe), class: "btn btn-primary" %>
</div>

<div class="d-flex row ingredient-container">
  <% @ingredients.each do |ingredient|%>
  <div class="col-3 text-center card-ingredient">
    <p><%= "#{ingredient.ingredient.name}" %></p>
    <%= image_tag ingredient.ingredient.image, class: "list-ingredients mt-2" %>
    <p><%= "Doses: #{ingredient.dose}" %></p>
  </div>
  <% end %>
</div>

<% @steps.each do |step|%>
  <div class="container">
    <p><%= "#{step.order}- #{step.description}" %></p>
  </div>
<% end %>

