<div>
  <%= ingredient.name %>
   <div class="category-container mt-2" style="background-image: url('<%= image_path ingredient.image %>')"></div>
  <%= simple_form_for ingredient do |f| %>
  <p> Attribuer une catégorie :</p>
    <%= f.input :ingredient_category, collection: IngredientCategory.where(user: current_user), label: false, input_html: {class: ''} %>
    <%= f.submit "OK", class: "btn btn-primary" %>
  <% end %>
</div>
